    table,
    th,
    td {
      padding: 3px;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      border-color: rgb(215, 219, 213);
      border-collapse: collapse;
      text-align: center;
    }

  
    
 p { color:#333333;font-family: Georgia, 
  serif;font-size:18px;line-height: 28px;margin: 0 0 28px;  
  text-align: justify;
  text-justify: inter-word;
}

  p.detail { color:#333333;font-family: Georgia, serif;font-size:28px;line-height: 28px;margin: 0 0 28px; }

  span.name { color:#FF0000;font-weight:bold;font-family: Georgia, serif;font-size:30 }
  
  #inner , #inner_2, #inner_3, #inner_4, #inner_5 {
display: table;
margin: 0 auto;
text-align: center;
}


.footer{
position:fixed;
}

.footer-icons ul li {
display: inline-block;
}

.footer-icons ul li a {
border: 1px solid #444;
color: #444;
display: block;
font-size: 16px;
height: 40px;
line-height: 38px;
margin-right: 5px;
text-align: center;
width: 40px;
border-radius: 50%;
}

.footer-icons {
text-align: center;
}

.footer-contacts p span {
color: #3EC1D5;
font-weight: 700;
}

.popular-tag ul li {
display: inline-block;
}

.footer-content {
display: block;
overflow: hidden;
}

.popular-tag ul li a:hover, 
.footer-icons ul li a:hover {
background: #3EC1D5;
border: 1px solid #3EC1D5;
color: #fff;
}

.popular-tag ul li a {
border: 1px solid #444;
border-radius: 30px;
color: #444;
display: block;
font-size: 13px;
font-weight: 600;
margin: 5px 3px;
padding: 5px 10px;
position: relative;
text-decoration: none;
text-transform: capitalize;
transition: all 0.4s ease 0s;
width: 70px;
text-align: center;
}

.footer-area-bottom {
background: #f1f1f1 none repeat scroll 0 0;
padding: 5px 0;
}

.copyright-text a:hover {
text-decoration: underline;
color: #3EC1D5;
}

.copyright-text a {
color: #444;
}

.copyright> p {
margin-bottom: 0;
color: #444;
}

.credits {
padding-top: 5px;
text-align: center;
}

.credits a {
color: #000;
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("http://i.stack.imgur.com/MnyxU.gif");
  background-repeat: no-repeat;
  background-position: center;
}


.subrayado{
font-size: 20px;
font-family: 'Lora', serif;
padding: 18px;
font-weight: 260;
line-height: 1.7;
}

#textarea_1 {
width: 100%;
min-height: 100px;
resize: none;
border-radius: 8px;
border: 1px solid #ddd;
padding: 0.5rem;
color: #666;
box-shadow: inset 0 0 0.25rem #ddd;

}

input:focus, #textarea_1:focus { 
outline: none !important; border-color: #719ECE; box-shadow: 0 0 5px #719ECE; 
}
#textarea_1[placeholder]{
font-family: helvetica;
font-weight: 400;
font-size: 0.9rem;}

#textarea_feedback {
float: right;
padding: 0.1rem 0 0 0;
font-size: 0.875rem;
}

.otherStyle{  
color:#2B414E;
font-size:14px;
}

.center-block {
display: block;
margin-right: auto;
margin-left: auto;
}

.custom-file-control:before{
content: "Browseee";
}
.custom-file-control:after{
content: "Add files..";
}

  .coolass_button{
      transition: all .5s;
      overflow: hidden;
      color: rgba(103, 55, 204, 0.67);
      cursor: pointer;
      font-weight: 400;
    font-size: 1.2em;
  will-change:all;
  transition-timing-function:ease;
  width: 120px;
  height: 38px;
  }
  .coolass_button:hover{
      box-shadow: 0px 6px 10px
  }
  .coolass_button_first{
      background-position: 100%;
  
      color:transparent;
  }
  .coolass_button_bridge1{
      background: #7bff56;
      background-position: 0%;
      transition: none; 
  }
  .coolass_button_second{
      background: linear-gradient(to right, #7bff56 0%,#7bff56 50%,#7bff56 50%,#63bc40 50%,#63bc40 50%,#63bc40 100%);
      background-size: 200%;
      transition: all .7s;
  }
  .coolass_button_third{
      background-position: -100%;
  }
  .coolass_button_final{
      transition: all .5s;
      margin-top: 0px;
      height: 50px;
  transform:translateY(0px);
      color:rgba(62, 117, 41, 0.61);
  }
  .coolass_button:after{
      content: 'Success!';
      position: absolute;
      right: -100%;
      opacity: 0;
      width: 100%;
      top:35%;
      margin: 0px;
      color: white;
      font-size: 1.2em;
      transition: all .5s;
  }
  .coolass_button_final:after{
      right: 0%;
      opacity: 1;
  }
  .coolass_button:before{
      content: 'Download';
      position: absolute;
      left: 0%;
      width: 100%;
      top:25%;
      margin: 0px;
      color: white;
      font-size: 1em;
      transition: all .5s;
  }
  .coolass_button_first:before{
      left: -100%;
      opacity: 0;
  }

.table-wrapper{
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table, .f2-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: 450;
  color:#34334d;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}


.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 14px;
}

.f2-table td {
  border-right: 2px solid #f8f8f8;
  border-bottom: 1px dashed #58a0ff;
  font-size: 14px;
}

.f2-table thead th {
  color: #356a77;
  border-bottom: 2px solid rgba(53, 106, 116, .7);
  border-top: 1px solid #fff;

}


.f2-table thead th:nth-child(odd) {
  color: #356a77;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}


@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}

.hover_1 { 
font-weight:700;
background-color: rgb(241, 246, 248);
}

.node circle {
fill: #999;
}

.node text {
font: 10px sans-serif;
}

.node--internal circle {
fill: #555;
}

.node--internal text {
text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
fill: none;
stroke: #555;
stroke-opacity: 0.4;
stroke-width: 1.5px;
}

.numberlist_pers ol, .numberlist_loc ol{

counter-reset: li;
list-style: none;
*list-style: decimal;
font: 17px 'trebuchet MS', 'lucida sans';
padding: 0;
margin-bottom: 4em;

}
.numberlist_pers ol ol, .numberlist_loc ol ol{
margin: 0 0 0 2em;
            }
 
.numberlist_pers a, .numberlist_loc a{
position: relative;
display: block;
padding: .4em .4em .4em 2em;
*padding: .4em;
margin: .5em 0;
background: #FFF;
color: #444;
text-decoration: none;
-moz-border-radius: .3em;
-webkit-border-radius: .3em;
border-radius: .3em;
            }
 
.numberlist_pers a:hover, .numberlist_loc a:hover{
background: #cbe7f8;
text-decoration:underline;
            }

.numberlist_pers a:before, .numberlist_loc a:before{
content: counter(li);
counter-increment: li;
position: absolute;
left: -0.3em;
top: 50%;
margin-top: -1.3em;
height: 2em;
width: 2em;
line-height: 1.5em;
border: .3em solid #fff;
text-align: center;
font-weight: normal;
-moz-border-radius: 2em;
-webkit-border-radius: 2em;
border-radius: 2em;
color:#FFF;
}

.numberlist_pers a::before{
  background: #786194;
}

.numberlist_loc a::before{
  background: #61947a;
}
 

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.anchor::before { 
  display: block; 
  content: ""; 
  margin-top: -150px; 
  height: 150px; 
  visibility: hidden; 
  pointer-events: none;
}

