﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Named Entity Extractor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<meta charset="UTF-8">
    <link rel=stylesheet href="https://codemirror.net/5/lib/codemirror.css">
    <script src="https://codemirror.net/5/lib/codemirror.js"></script>
    <script src="https://codemirror.net/5/mode/xml/xml.js"></script>
    <script src="//cdn.rawgit.com/vkiryukhin/vkBeautify/master/vkbeautify.js"></script>
	<script src="https://codemirror.net/5/addon/display/autorefresh.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link href="https://unpkg.com/label-studio@0.4.0/build/static/css/main.14acfaa5.css" rel="stylesheet">
  <script src="https://unpkg.com/label-studio@0.4.0/build/static/js/main.0249ea16.js"></script>

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  

  <script src="https://d3js.org/d3.v4.min.js"></script>


   
<style>

  button{
margin: 6px 5px 5px 4px;
}

p.detail_2{
  text-align: center;
}
strong{
font-weight: 500;
font-size: 20px;
}

#inner_4{
 top: 30px;
 margin-bottom: 10%;
}

ol {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 5;
    column-gap: 20px;
    
}


</style>
	
	
</head>
<body>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<div id="loading"></div>


    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Multilingual Named Entity Extractor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About</a>
      </li>


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br/>
<br/>
<br/>


	{% if not results %}
    <div class="container" id="principal">
			
			<form input type="hidden" name="myform" value="text_entry_form" method="post" enctype="multipart/form-data" action="/process"> 
			<div class="form-group">
				<h4  style="text-align: center;">Paste your text <span class='otherStyle' >UTF-8 and max 10k words</span></h4>
				<textarea name="text" class="col-md-12 center-block" id="textarea_1" rows="5" cols="100"  maxlength="85000" placeholder="Start Typin..."></textarea>
				<div id="textarea_feedback"></div>
				<br>
			</div>
			<br>
			<h4  style="text-align: center;">Or upload a text file <span class='otherStyle' >max value (this version) is 100KB</span></h4>
			<div class="form-group">
			
				  
				<div class="custom-file" style="margin:0px auto; display:block;">
				
				  <input type="file" name="file"  class="custom-file-input" id="customFile" multiple="multiple" >
				  <label class="col-md-7 custom-file-label center-block" for="customFile">Choose file</label>
				  
				</div>			
			</div>
			<br>
			
			<h4  style="text-align: center;">Select type of named entity</h4> 
			<div class="form-group">
				<select class="col-md-7 form-control center-block" name="taskoption">
					<option>persons</option>
					<option>places</option>
					<option>persons + places</option>
				</select>
				<br>
			</div>
				 <br>
			<button type="submit" name="myform" class="btn btn-success" style="display: block; margin: 0 auto;"><i class="fa fa-paper-plane-o"></i> Submit</button>
			</form> 
			
    </div>
	
	{% endif %}
	

		
	{% if results %}
    <div class="container" id="resultados" left: 50%;>
		
		<div id="inner">
    	<p class="detail">We have found : <span class="name">{{num_of_results}}</span> named entities </p>
      <p class="detail_2">press on button formats to see entities</p>
   
		</div>
		
		
		
		<!--
		<div class="no se">
		<table style="width:100%">
		  <tr>
			<th>WORD</th>
			<th>POS-TAG</th> 
			<th>LEMMA</th>
		  </tr>
		  
		  {% for i in results %}
		  <tr>
			<td>{{i[0]}}</td>
			<td>{{i[1]}}</td>
			<td>{{i[2]}}</td>
		  </tr>
		  {%endfor %}
		</table>
		</div> -->
		<br>
		<br>
		<!-- [['Ego', 'PRO', 'ego'], ['*Bartholomeus', 'NAM', '-'], ['de', 'PRE', 'de'], ['Fretoi', 'NAM', 'Fretoi']]-->

		
		<div class="main_div">
		<div class="btn-toolbar" id="inner" >
		
			<button onclick="divVisibility('Div1')" type="submit" class="btn btn-primary"><i class="fa fa-file-code-o"></i> HTML-version</button>
            <button onclick="divVisibility('Div2')" type="submit" class="btn btn-info" style="background-color:#3ea8e6;"><i class="fa fa-file-text" ></i> TEI-version</button>
			<button onclick="divVisibility('Div3')" type="submit" class="btn btn-info"><i class="fa fa-share-alt"></i> JSON-version</button>
			<button onclick="divVisibility('Div4')" type="submit" class="btn btn-success"><i class="fa fa-list-ul fa-rotate-90" aria-hidden="true"></i> TSV-version</button>
      <button onclick="divVisibility('Div5')" type="submit" class="btn btn-danger"><i class="fa fa-check-square-o"></i> Annotation</button>
      <button onclick="divVisibility('Div6')" type="submit" class="btn btn-danger"><i class="fa fa-check-square-o"></i> Tree_entities</button>
		
		
		</div>
		
		<br>
		
		<div class="inner_div"></div>
		
	
		<div id="Div1" class="subrayado" style="display: none;">
        <p ><span style="border:1px; border-style:solid; border-radius: 5px; background: #BBEDF0; border-color:#5F9FA4; padding: 2px;">Places</span> 
          <span style="border:1px; border-style:solid; border-radius: 5px; background: #E7E4FA; border-color:#7D73C1;padding: 2px;">Persons</span></p>
        <p>Number of Records: {{num_of_results}}</p>
    {{tei_5}}
    
    <!-- 
    {{dict_json}}
    <p id="demo"></p>
    <p id="demo_2"></p>-->
		
		<!-- * marca entidad simple, ** marca entidad compleja-->
		{% for palabra in tei_1 %}
			{% if palabra[0]=="*" %}
				<strong class="double"><span style="border:1px; border-style:solid; border-color:#FF0000; padding:3px">{{palabra[1]}}</span></strong>
			{% elif palabra[0]=="**" %}
				<strong class="double"><span style="border:1px; border-style:solid; border-color:#FF0000; padding:3px">{{palabra[1]}}</span></strong>
			{%else%}
				{{palabra[1]}}
			{%endif%}
			
		{%endfor%}
		
		
    	</div>
		
		
		<!-- TEI version ------>
    <div id="Div2" style="display: none;">

      <p><strong>TEI</strong></p>
      <div>

      <textarea id="test" rows="50"><?xml version="1.0" encoding="UTF-8" ?>{{tei_4}}</textarea>
      
      <button class="btn" onclick='location.href="/download"' style="float: right;"><i class="fa fa-download"></i> Download</button>

    </div>

  <br>
  <br>

  <p><strong>JSON</strong></p>

  <div>
    <textarea id="code" name="code" >
      {{dict_json_3}}
    </textarea>
  </div>

	
		</div>
		
		<!-- TSV version ------>
    <div id="Div4" style="display: none;" class="table-wrapper">
      
    <a href="#" onclick="download_table_as_csv('BIO-format');">Download as CSV</a>
		
    <table style="width:100%" class="f2-table" id="BIO-format">
      <colgroup></colgroup>
      <colgroup></colgroup>
      <colgroup></colgroup>
      <colgroup></colgroup>
      <colgroup></colgroup>
      <thead>
		  <tr>
			<th>WORD</th>
			<th>POS-TAG</th> 
			<th>LEMMA</th>
      <th>PERS</th>
      <th>LOC</th>
      </tr>
    </thead>
		  
		  {% for i in results %}
		  <tr>
      {%if i[0].startswith("*") %}
        <td>{{i[0][1:]}}</td>
      {%else%}
      <td>{{i[0]}}</td>
      {%endif%}
			<td>{{i[1]}}</td>
			<td>{{i[2]}}</td>
      <td>{{i[3]}}</td>
      <td>{{i[4]}}</td>
		  </tr>
		  {%endfor %}
		</table>

		</div>
    
    <!-- LABEL STUDIO style="display: none;" -->
    <div id="Div5" style="display: none;">

      
      <div id="content">

        <div id="inner_2">
          <button id="btn_backward" class="btn_nav btn btn-default btn-sm" alt="Back" value="Backward"><i class="fa fa-fast-backward" aria-hidden="true"></i> Backward</button>
          
          <button id="btn_forward" class="btn_nav btn btn-default btn-sm" alt="Next" value="Forward"><i class="fa fa-fast-forward" aria-hidden="true"></i> Forward</button>
        </div>

      
        
        <div id="ncholder">
          <div id="ncframe"></div>
          {% for key, value in dict_json_2.items() %}
          {% set count = dict_json_2|length - 1 %}
            <div id="inner_3">
              {% set pagina = key.split('_')[1] %}
              <p id="{{ key }}{{ key }}" class="PortSwap_2">- page {{ pagina }} / {{count}} -</p>
            </div>
            <div class="PortSwap" id="{{ key }}">{{dict_json_2.swap_0}}</div>
            {% endfor %}

            
            <div class="btn-group open" id="inner_4">
              
              <a id="exportJSON" onclick="exportJson(this);" class="btn btn-info coolass_button"></a>
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"></a>
                
              </a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-check-square-o"></i>Hypothesis</a></li>
                <li><a href="#"><i class="fa fa-check-square"></i> Ground-Truth</a></li>
              </ul>
            </div>
            </div>
        </div>
        
      </div>

    </div>
  
    <div id="Div6" style="display: none;">
      <div class="btn-toolbar" id="inner" >
        <button onclick="divVisibility2('Div7')" type="submit" class="btn btn-info" style="background-color:#532a81;"><i class="fa fa-users" aria-hidden="true"></i> PERSONS</button>
        <button onclick="divVisibility2('Div8')" type="submit" class="btn btn-success" style="background-color:#155e58"><i class="fa fa-map-marker" aria-hidden="true"></i> LOCATIONS</button>
      </div>
    </div>

    <div id="Div7" style="display: none;">
      <br>
      <br>
      <div id="browse-names" aria-hidden="true" class="numberlist_pers">
      <ol id="ul_ent" >
      {% for item in dict_formas["PERSONS"] %}
      {% for k,v in item.items() %}
      {% set complex = "_".join(k.split()) %}
        <li>
        <a href="#{{complex}}">{{k}}</a>
        </li>
      {% endfor %}
      {% endfor %}
    </ol>
      </div>
      
      
      {% for item in dict_formas["PERSONS"] %}
      
      {% for k,v in item.items() %}
      {% set complex = "_".join(k.split()) %}
      <div id={{complex}} class= "anchor" >
        <p style="background-color:#77658d; color: white;">&emsp;{{k}}</p>
        {% for item_2 in v %}
        <p style = "font-family:monospace;font-size: 17px;">...{{item_2[0]}}<span style='color: #2d5bf1'> {{item_2[1]}} </span>{{item_2[2]}}...</p>
        {% endfor %}
      </div>
        {% endfor %}
      {% endfor %}
  </div>






  <div id="Div8" style="display: none;">
    <br>
    <br>
    <div id="browse-locations" aria-hidden="true" class="numberlist_loc">
    <ol id="ul_ent" >
    {% for item in dict_formas["LOCATIONS"] %}
    {% for k,v in item.items() %}
    {% set complex = "_".join(k.split()) %}
      <li>
      <a href="#{{complex}}">{{k}}</a>
      </li>
    {% endfor %}
    {% endfor %}
  </ol>
    </div>
    
    
    {% for item in dict_formas["LOCATIONS"] %}
    
    {% for k,v in item.items() %}
    {% set complex = "_".join(k.split()) %}
    <div id={{complex}} class= "anchor" >
      <p style="background-color:#5c8a72; color: white;">&emsp;{{k}}</p>
      {% for item_2 in v %}
      <p style = "font-family:monospace;font-size: 17px; ">...{{item_2[0]}}<span style='color:#2d5bf1;'> {{item_2[1]}} </span>{{item_2[2]}}...</p>
      {% endfor %}
    </div>
      {% endfor %}
    {% endfor %}
</div>


<br>


		<!-- version con sub-comentario ------>
		<div id="Div3" style="display: none;" class="table-wrapper">
		
		<table style="width:100%" class="fl-table">
		
		
		{% for n in range(0, results|length -7, 7) %}
		{%set caja=results[n:n+7]%}
		{% for c in range(7)%}
		
		<tr>
		{% for c_c in range(7) %}
		{% if c==0 %}
			{%if caja[c_c][c].startswith("*") %}
				<td style='font-family:"Courier New"'><b><mark>{{caja[c_c][c][1:]}}</mark></b></td>
			{%else%}
				<td><b>{{caja[c_c][c]}}</b></td>
			{%endif%}
		
		{%else%}
		
			<td>{{caja[c_c][c]}}</td>
		
		{% endif %}
		{%endfor%}
		</tr>
		
		{%endfor%}	
		
		{%endfor %}
		</table>
		</div>
		</div>
		</div>
		
		


	{% endif %}
	
    
	<br>
	<br>
	<br>
	<br>
{{filename}}	


	
	<footer>
  <div class="footer-area-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-icons">
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="credits">
            <a href="#">Privacy Policy</a> | <a href="#">Terms & Condition</a>
          </div>
          <div class="copyright" id="inner_5">
            <p>
              <i class="fa fa-copyright fa-flip-horizontal"></i> Copyleft 2018. IRHT - CNRS | <strong><a href="#" style="font-size:14px">Sergio Torres Aguilar</a></strong> | <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- carga de los botones en hidden/display-->
<script>
var divs = ["Div1", "Div2", "Div3", "Div4", "Div5", "Div6", "Div7", "Div8"];
    var visibleDivId = null;
    function divVisibility(divId) {
      if(visibleDivId === divId) {
        visibleDivId = null;
      } else {
        visibleDivId = divId;
      }
      hideNonVisibleDivs();
    }
    function hideNonVisibleDivs() {
      var i, divId, div;
      for(i = 0; i < divs.length; i++) {
        divId = divs[i];
        div = document.getElementById(divId);
        if(visibleDivId === divId) {
          div.style.display = "block";
        } else {
          div.style.display = "none";
        }
      }
    }
</script>
<script>
  var divs2 = ["Div7", "Div8"];
      var visibleDivId2 = null;
      function divVisibility2(divId2) {
        if(visibleDivId2 === divId2) {
          visibleDivId2 = null;
        } else {
          visibleDivId2 = divId2;
        }
        hideNonVisibleDivs2();
      }
      function hideNonVisibleDivs2() {
        var i, divId2, div2;
        for(i = 0; i < divs2.length; i++) {
          divId2 = divs2[i];
          div2 = document.getElementById(divId2);
          if(visibleDivId2 === divId2) {
            div2.style.display = "block";
          } else {
            div2.style.display = "none";
          }
        }
      }
  </script>



<!-- codemirror instancia para xml tei-->
<script>
    document.getElementById("test").value = vkbeautify.xml(document.getElementById("test").value);
    CodeMirror.fromTextArea(document.getElementById("test"), {
      mode: 'application/xml',
      // theme: 'eclipse',
      lineNumbers: true,
      lineWrapping: true,
      readOnly: false,
      cursorBlinkRate: 0,
	  autoRefresh:true,
    });    
  </script>
  

<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        mode: "application/ld+json",
        lineWrapping: true,
      readOnly: false,
      cursorBlinkRate: 0,
        autoRefresh:true,
      });

        
</script>

<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("code_2"), {
        lineNumbers: true,
        mode: "application/ld+json",
        lineWrapping: true,
      readOnly: false,
      cursorBlinkRate: 0,
        autoRefresh:true,
      });editor.setSize(1100, 700)

        
</script>

<!--script para la pagina de pre-cargado-->  
<script>
function onReady(callback) {
    var intervalID = window.setInterval(checkReady, 500);

    function checkReady() {
        if (document.getElementsByTagName('body')[0] !== undefined) {
            window.clearInterval(intervalID);
            callback.call(this);
        }
    }
}

function show(id, value) {
    document.getElementById(id).style.display = value ? 'block' : 'none';
}

onReady(function () {
    show('loading', false);
});  
</script>  

<!--script para contar palabras en textarea con limite-->
<script>
   $(document).ready(function() {
var text_max = 1000000;
$('#textarea_feedback').html(text_max + ' /1000000');

$('#textarea_1').keyup(function() {
    var text_length = $('#textarea_1').val().length;
	var wordCount = $('#textarea_1').val().replace( /[^\w ]/g, "" ).split( /\s+/ ).length
    var text_remaining = text_max - wordCount;
	

    $('#textarea_feedback').html(text_remaining + ' /1000000');
	
	if (wordCount > 850000) {
    $('#textarea_feedback').css('color', '#F5102F');
  }else {
    $('#textarea_feedback').css('color','#719ECE');
  };
  
});


});
    </script>
	
<!--permitir cargar un archivo de texto personal-->	

<script>
  $('#customFile').change(function() {
    var $el = $(this),
    files = $el[0].files,
    label = files[0].name;
    if (files.length > 1) {
        label = label + " and " + String(files.length - 1) + " more files"
    }
    $el.next('.custom-file-label').html(label);
});
</script>


<!-- permite descargar un fichero a voluntad -->
<script>
function download(text, name, type)
    {
        var file = new Blob([text], {type: type});
        var isIE = /*@cc_on!@*/false || !!document.documentMode;
        if (isIE)
        {
            window.navigator.msSaveOrOpenBlob(file, name);
        }
        else
        {
            var a = document.createElement('a');
            a.href = URL.createObjectURL(file);
            a.download = name;
            a.click();
        }
     }
  </script>


<!-- instanciacion de label studio-->

<script>
  function decodeJSON(encodedJSON) {
  var decodedJSON = $('<div/>').html(encodedJSON).text();
  return $.parseJSON(decodedJSON);
 }

 var all_annotated_text=decodeJSON('{{dict_json}}');
 var modify_annotated_text=all_annotated_text
 for(i = 0; i <= Object.keys(all_annotated_text).length; i++) {
  var numero='swap_'+i
  var conjunto=all_annotated_text[numero]


  
  var labelStudio = new LabelStudio(numero, {
    config: `
      <View style="display: flex; LINE-HEIGHT:20px">
	  <Labels name="label" toName="text">
		<Label value="Pers" background="#5C4FB2"/>
		<Label value="Org" background="darkorange"/>
		<Label value="Loc" background="#2F8389"/>
	  </Labels>
    <View style="display: flex; line-height:25px">
    <Text name="text" value="$text"/>
    </View>
  </View>
    `,

    interfaces: [ "update","controls", "submit", "side-column"],
    
    messages : {
      DONE: "Done!",
    }
,
    task: conjunto,
    
    onLabelStudioLoad: function(LS) {
      var c = LS.completionStore.addCompletion({
        userGenerate: true
      });
      LS.completionStore.selectCompletion(c.id);
    },
  onSubmitCompletion: function(LS, C) {
          console.log(JSON.stringify(C.serializeCompletion()));
         
          alert("Submit button pressed");
      },
      onUpdateCompletion: function (LS, C) {
        console.log(JSON.stringify(C.serializeCompletion()));

        var numeral='swap_'+Object.values(C.serializeCompletion()[0].value.text.split("_")[1]);
        modify_annotated_text[numeral]=C.serializeCompletion();
        

        var r = confirm("File succesfully updated\n Do you want to download new annotation?");
        if (r == true) {
          download(JSON.stringify(modify_annotated_text, null, 3), 'Form_Data_.json','application/json');
        } 
    },
    

  });

  
}

</script>


<script>
//en este script transformamos json a un formato de columnas como el usado por brat
//debe estar aqui para que la transformacion se haga al presionar el boton de descarga, que se halla al final del script

var conejo_3=all_annotated_text
var boite = {}
i=0;
      
      for (var key in conejo_3) {
      	var texto=conejo_3[key].data.text;
    	boite[key] = i;
      //boite.push(key)


      i+=texto.length+1;}

var csv = arr_2.map(function(d){
    return d.join("\t");
}).join('\n');
       
</script>


<script>
  
  function exportJson(el) {
    
    var arr_2 = [];
    var orden=0;
    var conejo_4=modify_annotated_text
      
      for (var key_2 in conejo_4) {
        	for(i = 0; i < conejo_4[key_2].length; i++){
          	var arr_3=[key_2]
          	var datos=conejo_4[key_2][i].value
          	for (var key_3 in datos){
          		arr_3.push(datos[key_3])
          }
          arr_3[1]=arr_3[1]+boite[arr_3[0]]
          arr_3[2]=arr_3[2]+boite[arr_3[0]]
          arr_3[3]=arr_3[3].split("_")[0]
          arr_3[4]=arr_3[4][0]
          //ordenes para modificar el orden de la lista principal
          orden+=1;
          arr_3.splice(0,1);
          arr_3.splice(2, 0, arr_3[3]);
          arr_3.splice(4);
          arr_3.splice(0, 0, "T"+orden);
          arr_2.push(arr_3);    
        }
};

//ordenar lista por primer elemento
arr_2.sort(function(a,b){return a[0] - b[0];}); 

//transformar lista a tsv
var csv = arr_2.map(function(d){
    return d.join("\t");
}).join('\n');

//var tsv = arr_2.join("\t");
       
  //var data = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(csv, null, 3));
  //var data = "text/csv;charset=utf-8," + encodeURIComponent(csv);
  var data= "data:text/tab-separated-values," + encodeURIComponent(csv);
// what to return in order to show download window?

el.setAttribute("href", "data:"+data);
//el.setAttribute("download", "data.json");
//el.setAttribute("download", "data.csv");
el.setAttribute("download", "data.txt");


}
  </script>

<script>
  $(function(){
    //this will hide all elements with the class 'portswap';
    //Recommend you set the style (CSS) of PortSwap to 'display: none',
    //so as to avoid flash of unstyled content;
    $(".PortSwap").not('#swap_0').hide();
    $('#swap_0').addClass("active");
    $(".PortSwap_2").not('#swap_0swap_0').hide();
    $('#swap_0swap_0').addClass("active");
    //<input type="button" id="{{ key }}{{ key }}" alt="Previous" class="PortSwap_2" value="{{ key }}"/>
   
    //swap_0swap_0

    $('.btn_nav').on('click',function(){
        var activediv = $('.PortSwap.active').first();
        var activediv_id = parseInt(activediv[0].id.split('_')[1]);
        var activediv_2 = $('.PortSwap_2.active').first();
        var activediv_id_2 = parseInt(activediv_2[0].id.split('_')[2]);
        
        
        switch(this.id){
            //execute code when backward button is pressed
            case 'btn_backward':
                if(activediv_id-1 >= 0){
                    //previous iteration of div is present, show it
                    activediv.removeClass('active').hide();  
                    activediv_2.removeClass('active').hide();                                
                    $('#swap_'+(activediv_id-1)).show().addClass('active');
                    $('#swap_'+(activediv_id_2-1)+'swap_'+(activediv_id_2-1)).show().addClass('active');
                } else {
                    //No previous div is present, remain on same page.
                }
                break;
            //execute code when forward button is pressed
            case 'btn_forward':
                if(activediv_id+1 < $('.PortSwap').length){
                    //Next iteration of div is present, show it
                    activediv.removeClass('active').hide();
                    activediv_2.removeClass('active').hide();                                
                    $('#swap_'+(activediv_id+1)).show().addClass('active');
                    $('#swap_'+(activediv_id_2+1)+'swap_'+(activediv_id_2+1)).show().addClass('active');
                } else {
                    //No next div is present, remain on same page.
                }                            
                break;
        }
    }); 
});
</script>


<script>

var coolbutton = document.getElementById('exportJSON');
	var inprogress = false;
	coolbutton.onclick = function(){
    exportJson(this);
		if (inprogress) {
			return false;
		}
		inprogress = true
		coolbutton.classList.add('coolass_button_first');
		setTimeout(function(){
		coolbutton.classList.add('coolass_button_bridge1');
		},500);
		setTimeout(function(){
		coolbutton.classList.add('coolass_button_second');
		},600);
		setTimeout(function(){
		coolbutton.classList.add('coolass_button_third');
		},700);
		setTimeout(function(){
		coolbutton.classList.add('coolass_button_final');
		},1800);
		setTimeout(function(){
			coolbutton.classList.remove('coolass_button_final');
			coolbutton.classList.remove('coolass_button_third');
			coolbutton.classList.remove('coolass_button_second');
			coolbutton.classList.remove('coolass_button_bridge1');
			coolbutton.classList.remove('coolass_button_first');
			inprogress = false;
		},3200)
	};

</script>


<script>
  $(document).ready(function() {
  $('.js-activated').dropdownHover().dropdown();
  });
  </script>
  


<script>
  //Get the button
  var mybutton = document.getElementById("myBtn");
  
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
  </script>

  <script>
    function download_table_as_csv(table_id) {
    // Select rows from table_id
    var rows = document.querySelectorAll('table#' + table_id + ' tr');
    // Construct csv
    var csv = [];
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll('td, th');
        for (var j = 0; j < cols.length; j++) {
            // Clean innertext to remove multiple spaces and jumpline (break csv)
            var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
            // Escape double-quote with double-double-quote (see https://stackoverflow.com/questions/17808511/properly-escape-a-double-quote-in-csv)
            data = data.replace(/"/g, '""');
            // Push escaped string
            row.push('"' + data + '"');
        }
        csv.push(row.join(';'));
    }
    var csv_string = csv.join('\n');
    // Download it
    var filename = 'export_' + table_id + '_' + new Date().toLocaleDateString() + '.csv';
    var link = document.createElement('a');
    link.style.display = 'none';
    link.setAttribute('target', '_blank');
    link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
    link.setAttribute('download', filename);
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
}
  </script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>

</html>
